.sidebar {
    width: 280px;
    background-color: #212529;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    
}
  .sidebar-header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .sidebar-logo {
    width: 250px;
    height: 60px;
    border-radius: 10%;
    margin-bottom: 10px;
    
  }
  
  .sidebar h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .sidebar-subtitle {
    font-size: 12px;
    color: #b5b5b5;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-menu li {
    padding: 10px 15px;
    margin: 5px 0;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
  }
  
  .sidebar-menu li:hover {
    background-color: #343a40;
  }
  .risk-h2{
    font-size: 20px;
    margin-bottom: 20px;
    color:skyblue;
    font-weight: bold;
  }

  .sidebar::-webkit-scrollbar {
    width: 8px;
  }
  
  .sidebar::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    border-radius: 4px;
  }
  
  .sidebar::-webkit-scrollbar-track {
    background: transparent;
  }

  .scroll-bar{
    height: 700px;
    overflow-y: auto;
  }